MONGODB_URI=mongodb://localhost:27017/themesDatabase

AUTH_DISCORD_ID=1464006702125940736
AUTH_DISCORD_SECRET=

DISCORD_BOT_TOKEN=
GITHUB_TOKEN=
WEBHOOK_LOGS=
WEBHOOK_SUBMISSIONS=

# optional overrides, defaults shown
#NEXT_PUBLIC_SERVER_URL=http://localhost:3000
#MONGODB_THEMES_DB=themesDatabase
#MONGODB_SUBMISSIONS_DB=submittedThemesDatabase
#MONGODB_USERS_DB=discordUsers
#CHROMIUM_PACK_URL=https://vomrghiulbmrfvmhlflk.supabase.co/storage/v1/object/public/chromium-pack/chromium-v123.0.0-pack.tar
#PREVIEW_WORKER_URL=https://worker-name.thororen1234.workers.dev
